.auth-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.auth-wrapper {
		width: 700px;
		height: 65vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.auth-top {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			img {
				width: 100%;
			}
			.profile-photo-wrap {
				position: relative;
				height: 200px;
				width: 200px;
				overflow: hidden;
				background-color: #ccc;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				font-size: 100px;
				transition: 0.2s;

				&:hover {
					.profile-photo-upload {
						transition: 0.2s;
						bottom: 1px;
						visibility: visible;
						opacity: 1;
					}
				}

				span {
					display: block;
					height: inherit;
					width: inherit;
				}
				.profile-photo-upload {
					height: 40px;
					width: 191px;
					font-size: 14px;
					display: block;
					background-color: #464343;
					line-height: 40px;
					cursor: pointer;
					position: absolute;
					color: #fff;
					transition: 0.2s;
					opacity: 0;
					visibility: hidden;

					input {
						display: none;
					}
				}
			}
			h1 {
				text-align: center;
				font-style: 22px;
			}
			.auth-form {
				width: 300px;
				form {
					display: flex;
					flex-direction: column;
					gap: 10px;
					input {
						border: none;
						background: #e9e9e9;
						padding: 6px;
						border-radius: 5px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						-ms-border-radius: 5px;
						-o-border-radius: 5px;
						&:focus {
							outline: none;
						}
					}
					button {
						border: none;
						padding: 6px;
						cursor: pointer;
						border-radius: 5px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						-ms-border-radius: 5px;
						-o-border-radius: 5px;
					}
				}
			}
			a {
				font-size: 13px;
				color: gray;
				margin-top: -10px;
			}
		}

		.auth-bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			a {
				width: 300px;
				background-color: #e9e9e9;
				color: #333;
				text-align: center;
				padding: 6px 5px;
				font-size: 14px;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;
			}
		}
	}
}
